
/* General layout */ 

*{
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 1rem;
    padding: 0;
}

body, html {
  margin: 0px;
  padding: 0px;
}

/* Head */

header {
  background-color: #aeb7b1;
}

header h1 {
  text-align: left;
}

nav ul {
   display: ;
   list-style: none;
   text-align: right;
}

footer{
  background-color: #aeb7b1;
  text-align: center;
}


/* Body */


#app{

  display: grid;
  grid-template-rows: auto 4fr auto;
  min-height: 100vh;

}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.store-item{
  display: grid;

  border: 1px solid #000000;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  
}

.store-item img {
  /*
  width: 100px;
  height: 100px;
  */
  width: auto;
  height: 8rem;
  background-color: hsl(251, 100%, 18%);
}


