
/* General layout */ 

*{
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;

    margin: 0;
    padding: 0;
}

body, html {
  margin: 0px;
  padding: 0px;
}

#app{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Head */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background-color: #aeb7b1;
}


header h1 {
  text-align: left;

  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  text-align: right;

  gap: 1rem;
  margin: 0;
  padding: 0;
}

footer{
  background-color: #aeb7b1;

  text-align: center;
}


/* Body */

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.store-item{
  height: 100%;
  padding: 0.5rem;

  border: 1px solid #000000;

  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  
}

.store-item img {
  width: auto;
  height: 8rem;
  background-color: hsl(251, 100%, 18%);
}


